USE [master]
GO
/****** Object:  Database [NeoShoes]    Script Date: 2025-11-14 8:15:19 PM ******/
CREATE DATABASE [NeoShoes]
 CONTAINMENT = NONE
ALTER DATABASE [NeoShoes] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeoShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeoShoes]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AddressName] [nvarchar](255) NULL,
	[AddressDetails] [nvarchar](max) NULL,
	[RecipientName] [nvarchar](100) NULL,
	[RecipientPhone] [nvarchar](20) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Logo] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__CartItem__488B0B0AF8412363] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Gender] [varchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsBlock] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProduct]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProduct](
	[ImportProductId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
	[Note] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProductDetail]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProductDetail](
	[ImportProductDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ImportProductId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportProductDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[VoucherId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[PlacedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAddress]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAddress](
	[OrderId] [int] NOT NULL,
	[RecipientName] [varchar](255) NOT NULL,
	[RecipientPhone] [varchar](50) NOT NULL,
	[AddressName] [varchar](255) NULL,
	[AddressDetails] [text] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[DetailQuantity] [int] NOT NULL,
	[DetailPrice] [decimal](18, 2) NOT NULL,
	[AddressDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D36CF0B67E65] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[OrderStatusHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ChangedBy] [int] NOT NULL,
	[OrderStatus] [nvarchar](100) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[PaymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DefaultImageUrl] [nvarchar](500) NULL,
	[Material] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Color] [nvarchar](100) NULL,
	[Size] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[ReplyId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[ReplyContent] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequest]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequest](
	[ReturnRequestId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ReturnStatus] [nvarchar](100) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[DecideDate] [datetime2](7) NULL,
	[Reason] [nvarchar](500) NULL,
	[BankAccountInfo] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequestDetail]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequestDetail](
	[ReturnRequestDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnRequestId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[RefundDate] [datetime2](7) NULL,
 CONSTRAINT [PK__ReturnRe__F32F72510B9F4912] PRIMARY KEY CLUSTERED 
(
	[ReturnRequestDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[ReviewContent] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [bit] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Gender] [varchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCodeCustomer]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCodeCustomer](
	[VerifyCodeId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[FailedCount] [int] NOT NULL,
	[RequestCount] [int] NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerifyCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCodeStaff]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCodeStaff](
	[VerifyCodeId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[UserType] [int] NOT NULL,
	[FailedCount] [int] NOT NULL,
	[RequestCount] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerifyCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [varchar](255) NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Value] [decimal](8, 2) NOT NULL,
	[MaxValue] [decimal](8, 2) NULL,
	[MinValue] [decimal](8, 2) NULL,
	[VoucherDescription] [nvarchar](255) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalUsageLimit] [int] NULL,
	[UserUsageLimit] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUserUsage]    Script Date: 2025-11-14 8:15:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUserUsage](
	[VoucherUserUsageId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[UsageCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherUserUsageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [CustomerId], [AddressName], [AddressDetails], [RecipientName], [RecipientPhone], [IsDefault], [IsDeleted]) VALUES (1, 2, N'Pho Den Do', N'kjaghfdkadkhdd', N'Em Nghiaaa', N'0123456789', 0, 0)
INSERT [dbo].[Address] ([AddressId], [CustomerId], [AddressName], [AddressDetails], [RecipientName], [RecipientPhone], [IsDefault], [IsDeleted]) VALUES (2, 2, N'aaaaa', N'kjaghfdkadkhdd', N'nghia', N'0123456789', 0, 1)
INSERT [dbo].[Address] ([AddressId], [CustomerId], [AddressName], [AddressDetails], [RecipientName], [RecipientPhone], [IsDefault], [IsDeleted]) VALUES (3, 1, N'CanTho', N'canther', N'Ninh Nghia', N'0909678777', 1, 0)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (1, N'Nike', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDHX_Rc_v_7Q6jv55CpmDgQ-15AtSmn3xCHg&s', 0)
INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (2, N'Adidas', N'https://cdn.britannica.com/94/193794-050-0FB7060D/Adidas-logo.jpg', 0)
INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (3, N'Puma', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1pJDVLEYtnm1rE0zGomPlCpVo-H2NSkhxeQ&s', 0)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([CartItemId], [CustomerId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (20, 2, 74, 1, CAST(N'2025-10-24T18:29:25.1833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (1, N'Running Shoes', N'https://contents.mediadecathlon.com/p2153047/k$04e4aed013c4d3d38bf4acaa2c69179b/women-s-running-shoes-jogflow-500k-1-dark-grey-kalenji-8640202.jpg?f=1920x0&format=auto', 1, 0)
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (2, N'Basketball Shoes', N'https://cdn.vuahanghieu.com/unsafe/0x900/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2024/09/giay-the-thao-nike-1-scratch-ep-basketball-shoes-hj7929-100-phoi-mau-size-40-66da6d9ea3eea-06092024094902.jpg', 1, 0)
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (3, N'Lifestyle Sneakers', N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/cfa06271-2153-4c9d-93a8-c9eff6d4e50d/NIKE+C1TY+PRM.png', 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsBlock], [IsDeleted], [IsVerified]) VALUES (1, N'customer1@example.com', N'd847f5bbe427010efbf1e27934b8efcb', N'John Doee', N'0907882345', NULL, N'Male', CAST(N'2025-09-28T08:02:27.1466667' AS DateTime2), CAST(N'2025-11-14T20:12:16.7133333' AS DateTime2), 0, 0, 0)
INSERT [dbo].[Customer] ([CustomerId], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsBlock], [IsDeleted], [IsVerified]) VALUES (2, N'customer2@example.com', N'd847f5bbe427010efbf1e27934b8efcb', N'Jane Smith', N'0987654322', NULL, N'Male', CAST(N'2025-09-28T08:02:27.1466667' AS DateTime2), CAST(N'2025-11-07T21:30:42.3200000' AS DateTime2), 0, 0, 0)
INSERT [dbo].[Customer] ([CustomerId], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsBlock], [IsDeleted], [IsVerified]) VALUES (3, N'olivia.harris@example.com', N'$2a$12$AbCdEfGhIjKlMnOpQrStUuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZ', N'Olivia Harris', N'0987654301', N'https://i.pinimg.com/originals/24/bd/d9/24bdd9ec59a9f8966722063fe7791183.jpg', N'Female', CAST(N'2025-10-18T10:42:20.2333333' AS DateTime2), CAST(N'2025-10-18T17:44:43.6500000' AS DateTime2), 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportProduct] ON 

INSERT [dbo].[ImportProduct] ([ImportProductId], [StaffId], [ImportDate], [SupplierName], [Note], [IsDeleted]) VALUES (1, 1, CAST(N'2025-10-29T07:34:00.0000000' AS DateTime2), N'Test 1', N'Test 1 note', 0)
INSERT [dbo].[ImportProduct] ([ImportProductId], [StaffId], [ImportDate], [SupplierName], [Note], [IsDeleted]) VALUES (2, 1, CAST(N'2025-11-10T10:31:00.0000000' AS DateTime2), N'Test Supplier', N'', 0)
SET IDENTITY_INSERT [dbo].[ImportProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportProductDetail] ON 

INSERT [dbo].[ImportProductDetail] ([ImportProductDetailId], [ImportProductId], [ProductVariantId], [Quantity], [CostPrice], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, 20, CAST(150.00 AS Decimal(18, 2)), CAST(N'2025-10-29T07:35:30.3520000' AS DateTime2), CAST(N'2025-10-29T07:35:30.3520000' AS DateTime2))
INSERT [dbo].[ImportProductDetail] ([ImportProductDetailId], [ImportProductId], [ProductVariantId], [Quantity], [CostPrice], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 13, 11, CAST(180.00 AS Decimal(18, 2)), CAST(N'2025-10-29T07:35:30.4410000' AS DateTime2), CAST(N'2025-10-29T07:35:30.4410000' AS DateTime2))
INSERT [dbo].[ImportProductDetail] ([ImportProductDetailId], [ImportProductId], [ProductVariantId], [Quantity], [CostPrice], [CreatedAt], [UpdatedAt]) VALUES (3, 2, 11, 10, CAST(180.00 AS Decimal(18, 2)), CAST(N'2025-11-10T10:31:34.3620000' AS DateTime2), CAST(N'2025-11-13T22:47:40.0166667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ImportProductDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [AddressId], [PaymentMethodId], [PaymentStatusId], [VoucherId], [TotalAmount], [ShippingFee], [PlacedAt], [UpdatedAt]) VALUES (1, 1, 3, 1, 3, NULL, CAST(210.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-11-07T16:15:40.1820000' AS DateTime2), CAST(N'2025-11-14T16:21:06.0880000' AS DateTime2))
INSERT [dbo].[Order] ([OrderId], [CustomerId], [AddressId], [PaymentMethodId], [PaymentStatusId], [VoucherId], [TotalAmount], [ShippingFee], [PlacedAt], [UpdatedAt]) VALUES (2, 1, 3, 1, 2, 11, CAST(513.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-11-09T21:42:51.1160000' AS DateTime2), CAST(N'2025-11-09T21:44:49.4260000' AS DateTime2))
INSERT [dbo].[Order] ([OrderId], [CustomerId], [AddressId], [PaymentMethodId], [PaymentStatusId], [VoucherId], [TotalAmount], [ShippingFee], [PlacedAt], [UpdatedAt]) VALUES (3, 1, 3, 1, 4, NULL, CAST(150.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-11-09T21:45:47.6620000' AS DateTime2), CAST(N'2025-11-09T21:46:30.8710000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderAddress] ([OrderId], [RecipientName], [RecipientPhone], [AddressName], [AddressDetails], [CreatedAt], [UpdatedAt]) VALUES (1, N'Ninh Nghia', N'0909678777', N'CanTho', N'canther', CAST(N'2025-11-07T16:15:40.290' AS DateTime), CAST(N'2025-11-07T16:15:40.290' AS DateTime))
INSERT [dbo].[OrderAddress] ([OrderId], [RecipientName], [RecipientPhone], [AddressName], [AddressDetails], [CreatedAt], [UpdatedAt]) VALUES (2, N'Ninh Nghia', N'0909678777', N'CanTho', N'canther', CAST(N'2025-11-09T21:42:51.233' AS DateTime), CAST(N'2025-11-09T21:42:51.233' AS DateTime))
INSERT [dbo].[OrderAddress] ([OrderId], [RecipientName], [RecipientPhone], [AddressName], [AddressDetails], [CreatedAt], [UpdatedAt]) VALUES (3, N'Ninh Nghia', N'0909678777', N'CanTho', N'canther', CAST(N'2025-11-09T21:45:47.717' AS DateTime), CAST(N'2025-11-09T21:45:47.717' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (15, 1, 53, 1, CAST(200.00 AS Decimal(18, 2)), N'Ninh Nghia, canther | 0909678777')
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (16, 2, 56, 4, CAST(140.00 AS Decimal(18, 2)), N'Ninh Nghia, canther | 0909678777')
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (17, 3, 55, 1, CAST(140.00 AS Decimal(18, 2)), N'Ninh Nghia, canther | 0909678777')
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] ON 

INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (23, 1, 1, N'PENDING', CAST(N'2025-11-07T16:15:40.2830000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (24, 1, 1, N'APPROVED', CAST(N'2025-11-07T16:18:40.0120000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (25, 1, 1, N'SHIPPED', CAST(N'2025-11-07T16:18:45.1760000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [Name], [Description]) VALUES (1, N'Cash on Delivery', N'Pay with cash when the order is delivered')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [Name], [Description]) VALUES (1, N'Pending', N'Payment not yet completed')
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [Name], [Description]) VALUES (2, N'Complete', N'Payment has been successfully completed')
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [Name], [Description]) VALUES (3, N'Failed', N'Payment was attempted but failed')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (1, 1, 1, N'Nike Air Max 90', N'Classic visible Air cushioning with a durable upper for everyday comfort.', N'https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/6ee73b1b-6306-4612-a154-bac88930c818/custom-nike-air-max-90-shoes-by-you.png', N'Leather', CAST(N'2025-10-27T00:00:24.8633333' AS DateTime2), CAST(N'2025-10-27T00:00:24.8633333' AS DateTime2), 1, 0)
INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (2, 2, 1, N'Adidas Ultraboost 22', N'Responsive Boost midsole and Primeknit upper for long-distance runs.', N'https://bizweb.dktcdn.net/thumb/1024x1024/100/347/092/products/gx5915-s1.jpg', N'Knit', CAST(N'2025-10-27T14:27:24.8633333' AS DateTime2), CAST(N'2025-10-27T14:27:24.8633333' AS DateTime2), 1, 0)
INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (3, 3, 3, N'Puma Suede Classic', N'Iconic low-top silhouette with soft suede and grippy rubber outsole.', N'https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_2000,h_2000/global/399781/01/sv01/fnd/VNM/fmt/png/Gi%C3%A0y-th%E1%BB%83-thao-Suede-Classic-Unisex', N'Suede', CAST(N'2025-10-25T14:27:24.8633333' AS DateTime2), CAST(N'2025-10-25T14:27:24.8633333' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'40', CAST(150.00 AS Decimal(18, 2)), 140, CAST(N'2025-10-27T14:27:24.8700000' AS DateTime2), CAST(N'2025-11-13T15:11:53.7394227' AS DateTime2), 0)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'41', CAST(150.00 AS Decimal(18, 2)), 90, CAST(N'2025-10-27T14:27:24.8700000' AS DateTime2), CAST(N'2025-10-27T14:27:24.8700000' AS DateTime2), 0)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'42', CAST(150.00 AS Decimal(18, 2)), 60, CAST(N'2025-10-27T14:27:24.8700000' AS DateTime2), CAST(N'2025-10-27T14:27:24.8700000' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequest] ON 

INSERT [dbo].[ReturnRequest] ([ReturnRequestId], [OrderId], [CustomerId], [ReturnStatus], [RequestDate], [DecideDate], [Reason], [BankAccountInfo], [Note]) VALUES (1, 1, 1, N'RETURNED', CAST(N'2025-11-07T19:55:15.4400000' AS DateTime2), CAST(N'2025-11-14T16:21:06.0600000' AS DateTime2), N'Wrong Item', N'VCB_123456_Le Huu Nghia', N'not not')
INSERT [dbo].[ReturnRequest] ([ReturnRequestId], [OrderId], [CustomerId], [ReturnStatus], [RequestDate], [DecideDate], [Reason], [BankAccountInfo], [Note]) VALUES (2, 5, 1, N'RETURNED', CAST(N'2025-11-10T10:35:02.6333333' AS DateTime2), CAST(N'2025-11-14T20:13:53.9366667' AS DateTime2), N'Defective Product', N'VCB_123456_Le Huu Nghia', N'return')
INSERT [dbo].[ReturnRequest] ([ReturnRequestId], [OrderId], [CustomerId], [ReturnStatus], [RequestDate], [DecideDate], [Reason], [BankAccountInfo], [Note]) VALUES (3, 6, 1, N'REJECTED', CAST(N'2025-11-10T10:39:32.4433333' AS DateTime2), CAST(N'2025-11-10T10:40:53.2266667' AS DateTime2), N'Defective Product', N'ACB_123456789_Le Huu Nghia', N'return')
SET IDENTITY_INSERT [dbo].[ReturnRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequestDetail] ON 

INSERT [dbo].[ReturnRequestDetail] ([ReturnRequestDetailId], [ReturnRequestId], [ProductVariantId], [Quantity], [CreatedAt], [UpdatedAt], [Amount], [Note], [RefundDate]) VALUES (2, 1, 53, 1, CAST(N'2025-11-07T19:56:03.4966667' AS DateTime2), CAST(N'2025-11-07T19:57:15.8266667' AS DateTime2), CAST(200.00 AS Decimal(18, 2)), NULL, CAST(N'2025-11-07T19:57:15.8266667' AS DateTime2))
INSERT [dbo].[ReturnRequestDetail] ([ReturnRequestDetailId], [ReturnRequestId], [ProductVariantId], [Quantity], [CreatedAt], [UpdatedAt], [Amount], [Note], [RefundDate]) VALUES (3, 2, 14, 1, CAST(N'2025-11-10T10:35:02.6400000' AS DateTime2), CAST(N'2025-11-10T10:40:43.6733333' AS DateTime2), CAST(180.00 AS Decimal(18, 2)), N'return', CAST(N'2025-11-10T10:40:43.6733333' AS DateTime2))
INSERT [dbo].[ReturnRequestDetail] ([ReturnRequestDetailId], [ReturnRequestId], [ProductVariantId], [Quantity], [CreatedAt], [UpdatedAt], [Amount], [Note], [RefundDate]) VALUES (4, 3, 13, 83, CAST(N'2025-11-10T10:39:32.4500000' AS DateTime2), CAST(N'2025-11-10T10:39:32.4500000' AS DateTime2), CAST(14940.00 AS Decimal(18, 2)), N'return', NULL)
SET IDENTITY_INSERT [dbo].[ReturnRequestDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (51, 1, 1, 5, N'Amazing Nike Air Max 90! Very comfortable and stylish. Perfect quality, great for daily walking and running. Modern design and very durable.', CAST(N'2025-10-27T14:30:00.0000000' AS DateTime2), CAST(N'2025-10-27T14:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (52, 1, 2, 4, N'Good Nike shoes, comfortable fit. Classic design and timeless. Only minor issue is the sizing runs a bit small.', CAST(N'2025-10-27T14:30:00.0000000' AS DateTime2), CAST(N'2025-10-27T14:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (54, 10, 2, 5, N'Excellent Adidas Ultraboost running shoes! Boost technology really works. Very comfortable for long runs and modern style.', CAST(N'2025-10-27T11:20:00.0000000' AS DateTime2), CAST(N'2025-10-27T11:20:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted], [Address], [DateOfBirth]) VALUES (1, 1, N'admin@shoestore.com', N'd847f5bbe427010efbf1e27934b8efcb', N'Admin', N'+1-202-555-0101', N'https://png.pngtree.com/png-clipart/20220704/original/pngtree-administrator-account-avatar-boss-business-png-image_8307920.png', N'Male', CAST(N'2025-09-27T14:27:24.8900000' AS DateTime2), CAST(N'2025-09-27T14:27:24.8900000' AS DateTime2), 0, N'Can Tho', CAST(N'1988-03-15' AS Date))
INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted], [Address], [DateOfBirth]) VALUES (2, 0, N'staff1@shoestore.com', N'd847f5bbe427010efbf1e27934b8efcb', N'Staff1', N'+1-202-555-0115', N'https://res.cloudinary.com/drqip0exk/image/upload/v1762592529/brand_1762592527884_brandtest.jpg.jpg', N'Male', CAST(N'2025-09-27T14:27:24.8900000' AS DateTime2), CAST(N'2025-11-08T16:10:18.6333333' AS DateTime2), 0, N'TP.CanTho', CAST(N'1993-07-21' AS Date))
INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted], [Address], [DateOfBirth]) VALUES (3, 0, N'staff2@shoestore.com', N'd847f5bbe427010efbf1e27934b8efcb', N'Staff2', N'+1-202-555-0127', N'https://static.vecteezy.com/system/resources/previews/006/936/459/original/cute-panda-with-coffee-cartoon-illustration-vector.jpg', N'Male', CAST(N'2025-09-27T14:27:24.8900000' AS DateTime2), CAST(N'2025-09-27T14:27:24.8900000' AS DateTime2), 0, N'Ca Mau', CAST(N'1995-11-02' AS Date))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherId], [VoucherCode], [Type], [Value], [MaxValue], [MinValue], [VoucherDescription], [StartDate], [EndDate], [TotalUsageLimit], [UserUsageLimit], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (7, N'USD10OFF', N'AMOUNT', CAST(10.00 AS Decimal(8, 2)), NULL, CAST(50.00 AS Decimal(8, 2)), N'Get $10 off orders over $50', CAST(N'2025-10-12T23:44:37.8666667' AS DateTime2), CAST(N'2025-11-11T23:44:37.8666667' AS DateTime2), 100, 1, 1, CAST(N'2025-10-12T23:44:37.8666667' AS DateTime2), CAST(N'2025-10-12T23:44:37.8666667' AS DateTime2), 0)
INSERT [dbo].[Voucher] ([VoucherId], [VoucherCode], [Type], [Value], [MaxValue], [MinValue], [VoucherDescription], [StartDate], [EndDate], [TotalUsageLimit], [UserUsageLimit], [IsActive], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (9, N'Funnycode', N'PERCENTAGE', CAST(50.00 AS Decimal(8, 2)), CAST(40.00 AS Decimal(8, 2)), CAST(50.00 AS Decimal(8, 2)), N'Discount 50% for Dev', CAST(N'2025-10-17T00:00:00.0000000' AS DateTime2), CAST(N'2025-02-11T23:59:59.0000000' AS DateTime2), 100, 1, 1, CAST(N'2025-10-17T21:36:33.8833333' AS DateTime2), CAST(N'2025-10-21T14:12:51.2600000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[VoucherUserUsage] ON 

INSERT [dbo].[VoucherUserUsage] ([VoucherUserUsageId], [VoucherId], [CustomerId], [UsageCount]) VALUES (1, 8, 2, 1)
INSERT [dbo].[VoucherUserUsage] ([VoucherUserUsageId], [VoucherId], [CustomerId], [UsageCount]) VALUES (2, 7, 2, 1)
INSERT [dbo].[VoucherUserUsage] ([VoucherUserUsageId], [VoucherId], [CustomerId], [UsageCount]) VALUES (3, 10, 2, 1)
SET IDENTITY_INSERT [dbo].[VoucherUserUsage] OFF
GO
/****** Object:  Index [IX_OrderAddress_OrderId]    Script Date: 2025-11-14 8:15:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderAddress_OrderId] ON [dbo].[OrderAddress]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VoucherUserUsage_Voucher_Customer]    Script Date: 2025-11-14 8:15:20 PM ******/
ALTER TABLE [dbo].[VoucherUserUsage] ADD  CONSTRAINT [UQ_VoucherUserUsage_Voucher_Customer] UNIQUE NONCLUSTERED 
(
	[VoucherId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsBlock]  DEFAULT ((0)) FOR [IsBlock]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsDelete]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[OrderAddress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderAddress] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_ProductVariant]
GO
ALTER TABLE [dbo].[ImportProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImportProduct_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProduct] CHECK CONSTRAINT [FK_ImportProduct_Staff]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportProductDetail_ImportProduct] FOREIGN KEY([ImportProductId])
REFERENCES [dbo].[ImportProduct] ([ImportProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [FK_ImportProductDetail_ImportProduct]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportProductDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [FK_ImportProductDetail_ProductVariant]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderAddress]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductVariant]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Order]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Staff] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Staff]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Product]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Review] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Review] ([ReviewId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Review]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Staff]
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequest_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequest] CHECK CONSTRAINT [FK_ReturnRequest_Customer]
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequest_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequest] CHECK CONSTRAINT [FK_ReturnRequest_Order]
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequestDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [FK_ReturnRequestDetail_ProductVariant]
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequestDetail_ReturnRequest] FOREIGN KEY([ReturnRequestId])
REFERENCES [dbo].[ReturnRequest] ([ReturnRequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [FK_ReturnRequestDetail_ReturnRequest]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_ProductVariant]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [FK_VerifyCodeCustomer_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [FK_VerifyCodeCustomer_Customer]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [FK_VerifyCodeStaff_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [FK_VerifyCodeStaff_Staff]
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUserUsage_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [FK_VoucherUserUsage_Customer]
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUserUsage_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [FK_VoucherUserUsage_Voucher]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [CK__CartItem__Quanti__02084FDA] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [CK__CartItem__Quanti__02084FDA]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ImportProductDetail_CostPrice_NonNeg] CHECK  (([CostPrice]>=(0)))
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [CHK_ImportProductDetail_CostPrice_NonNeg]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ImportProductDetail_Quantity_NonNeg] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [CHK_ImportProductDetail_Quantity_NonNeg]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([ShippingFee]>=(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK__OrderDeta__Detai__06CD04F7] CHECK  (([DetailQuantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK__OrderDeta__Detai__06CD04F7]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK__OrderDeta__Detai__07C12930] CHECK  (([DetailPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK__OrderDeta__Detai__07C12930]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD CHECK  (([QuantityAvailable]>=(0)))
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ReturnRequestDetail_Quantity_NonNeg] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [CHK_ReturnRequestDetail_Quantity_NonNeg]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [CHK_Review_Star_Range] CHECK  (([Star]>=(1) AND [Star]<=(5)))
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [CHK_Review_Star_Range]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeCustomer_FailedNonNeg] CHECK  (([FailedCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [CHK_VerifyCodeCustomer_FailedNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeCustomer_RequestNonNeg] CHECK  (([RequestCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [CHK_VerifyCodeCustomer_RequestNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeStaff_FailedNonNeg] CHECK  (([FailedCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [CHK_VerifyCodeStaff_FailedNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeStaff_RequestNonNeg] CHECK  (([RequestCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [CHK_VerifyCodeStaff_RequestNonNeg]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([MaxValue]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([MinValue]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([TotalUsageLimit]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([UserUsageLimit]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([Value]>=(0)))
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [CHK_VoucherUserUsage_Count_NonNeg] CHECK  (([UsageCount]>=(0)))
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [CHK_VoucherUserUsage_Count_NonNeg]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name of the person who will receive the order' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderAddress', @level2type=N'COLUMN',@level2name=N'RecipientName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Phone number of the recipient for delivery contact' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderAddress', @level2type=N'COLUMN',@level2name=N'RecipientPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stores snapshot of delivery address information at the time of order placement. This ensures order delivery details are preserved even if customer changes their address later.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderAddress'
GO
USE [master]
GO
