USE [master]
GO
/****** Object:  Database [NeoShoes]    Script Date: 2025-10-12 12:46:52 AM ******/
CREATE DATABASE [NeoShoes]
 CONTAINMENT = NONE
ALTER DATABASE [NeoShoes] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeoShoes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeoShoes]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AddressName] [nvarchar](255) NULL,
	[AddressDetails] [nvarchar](max) NULL,
	[RecipientName] [nvarchar](100) NULL,
	[RecipientPhone] [nvarchar](20) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Logo] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__CartItem__488B0B0AF8412363] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Gender] [varchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsBlock] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProduct]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProduct](
	[ImportProductId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[SupplierName] [nvarchar](255) NULL,
	[Note] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProductDetail]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProductDetail](
	[ImportProductDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ImportProductId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CostPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportProductDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[PaymentStatusId] [int] NOT NULL,
	[VoucherId] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
	[PlacedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[DetailQuantity] [int] NOT NULL,
	[DetailPrice] [decimal](18, 2) NOT NULL,
	[AddressDetail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__OrderDet__D3B9D36CF0B67E65] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[OrderStatusHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ChangedBy] [int] NOT NULL,
	[OrderStatus] [nvarchar](100) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[PaymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[BrandId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DefaultImageUrl] [nvarchar](500) NULL,
	[Material] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Color] [nvarchar](100) NULL,
	[Size] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[ReplyId] [int] IDENTITY(1,1) NOT NULL,
	[ReviewId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[ReplyContent] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequest]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequest](
	[ReturnRequestId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ReturnStatus] [nvarchar](100) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[DecideDate] [datetime2](7) NULL,
	[Reason] [nvarchar](500) NULL,
	[BankAccountInfo] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequestDetail]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequestDetail](
	[ReturnRequestDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ReturnRequestId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](500) NULL,
	[RefundDate] [datetime2](7) NULL,
 CONSTRAINT [PK__ReturnRe__F32F72510B9F4912] PRIMARY KEY CLUSTERED 
(
	[ReturnRequestDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[ReviewContent] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [bit] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Avatar] [nvarchar](500) NULL,
	[Gender] [varchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCodeCustomer]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCodeCustomer](
	[VerifyCodeId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[FailedCount] [int] NOT NULL,
	[RequestCount] [int] NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerifyCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VerifyCodeStaff]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCodeStaff](
	[VerifyCodeId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[UserType] [int] NOT NULL,
	[FailedCount] [int] NOT NULL,
	[RequestCount] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VerifyCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherCode] [varchar](255) NOT NULL,
	[Type] [varchar](255) NOT NULL,
	[Value] [decimal](8, 2) NOT NULL,
	[MaxValue] [decimal](8, 2) NULL,
	[MinValue] [decimal](8, 2) NULL,
	[VoucherDescription] [nvarchar](255) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalUsageLimit] [int] NULL,
	[UserUsageLimit] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherUserUsage]    Script Date: 2025-10-12 12:46:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherUserUsage](
	[VoucherUserUsageId] [int] IDENTITY(1,1) NOT NULL,
	[VoucherId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[UsageCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherUserUsageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [CustomerId], [AddressName], [AddressDetails], [RecipientName], [RecipientPhone], [IsDefault], [IsDeleted]) VALUES (1, 2, N'Pho Den Do', N'kjaghfdkadkhdd', N'Em Nghiaaa', N'0123456789', 1, 0)
INSERT [dbo].[Address] ([AddressId], [CustomerId], [AddressName], [AddressDetails], [RecipientName], [RecipientPhone], [IsDefault], [IsDeleted]) VALUES (2, 2, N'aaaaa', N'kjaghfdkadkhdd', N'nghia', N'0123456789', 0, 1)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (1, N'Nike', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDHX_Rc_v_7Q6jv55CpmDgQ-15AtSmn3xCHg&s', 0)
INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (2, N'Adidas', N'https://cdn.britannica.com/94/193794-050-0FB7060D/Adidas-logo.jpg', 0)
INSERT [dbo].[Brand] ([BrandId], [Name], [Logo], [IsDeleted]) VALUES (3, N'Puma', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1pJDVLEYtnm1rE0zGomPlCpVo-H2NSkhxeQ&s', 0)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItem] ON 

INSERT [dbo].[CartItem] ([CartItemId], [CustomerId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (5, 1, 9, 3, CAST(N'2025-10-11T17:52:19.0733333' AS DateTime2))
INSERT [dbo].[CartItem] ([CartItemId], [CustomerId], [ProductVariantId], [Quantity], [CreatedAt]) VALUES (6, 1, 173, 3, CAST(N'2025-10-11T23:05:35.4266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CartItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (1, N'Running Shoes', N'https://contents.mediadecathlon.com/p2153047/k$04e4aed013c4d3d38bf4acaa2c69179b/women-s-running-shoes-jogflow-500k-1-dark-grey-kalenji-8640202.jpg?f=1920x0&format=auto', 1, 0)
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (2, N'Basketball Shoes', N'https://cdn.vuahanghieu.com/unsafe/0x900/left/top/smart/filters:quality(90)/https://admin.vuahanghieu.com/upload/product/2024/09/giay-the-thao-nike-1-scratch-ep-basketball-shoes-hj7929-100-phoi-mau-size-40-66da6d9ea3eea-06092024094902.jpg', 1, 0)
INSERT [dbo].[Category] ([CategoryId], [Name], [Image], [IsActive], [IsDeleted]) VALUES (3, N'Lifestyle Sneakers', N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/cfa06271-2153-4c9d-93a8-c9eff6d4e50d/NIKE+C1TY+PRM.png', 1, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsBlock], [IsDeleted]) VALUES (1, N'customer1@example.com', N'd847f5bbe427010efbf1e27934b8efcb', N'John Doe', N'0912345672', NULL, N'Male', CAST(N'2025-09-28T08:02:27.1466667' AS DateTime2), CAST(N'2025-10-03T20:23:29.8060000' AS DateTime2), 0, 0)
INSERT [dbo].[Customer] ([CustomerId], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsBlock], [IsDeleted]) VALUES (2, N'customer2@example.com', N'd847f5bbe427010efbf1e27934b8efcb', N'Jane Smith', N'0987654322', NULL, N'Male', CAST(N'2025-09-28T08:02:27.1466667' AS DateTime2), CAST(N'2025-10-11T23:44:02.2970000' AS DateTime2), 0, 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [AddressId], [PaymentMethodId], [PaymentStatusId], [VoucherId], [TotalAmount], [ShippingFee], [PlacedAt], [UpdatedAt]) VALUES (1, 2, 1, 1, 1, NULL, CAST(340.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-10-01T10:30:00.0000000' AS DateTime2), CAST(N'2025-10-01T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[Order] ([OrderId], [CustomerId], [AddressId], [PaymentMethodId], [PaymentStatusId], [VoucherId], [TotalAmount], [ShippingFee], [PlacedAt], [UpdatedAt]) VALUES (2, 2, 1, 1, 2, NULL, CAST(95.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(N'2025-10-02T14:15:00.0000000' AS DateTime2), CAST(N'2025-10-02T14:15:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (1, 1, 1, 1, CAST(150.00 AS Decimal(18, 2)), N'123 Main Street, Ho Chi Minh City, Vietnam - Recipient: Em Nghia, Phone: 0123456789')
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (2, 1, 10, 1, CAST(180.00 AS Decimal(18, 2)), N'123 Main Street, Ho Chi Minh City, Vietnam - Recipient: Em Nghia, Phone: 0123456789')
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductVariantId], [DetailQuantity], [DetailPrice], [AddressDetail]) VALUES (3, 2, 28, 1, CAST(85.00 AS Decimal(18, 2)), N'123 Main Street, Ho Chi Minh City, Vietnam - Recipient: Em Nghia, Phone: 0123456789')
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] ON 

INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (1, 1, 1, N'PENDING', CAST(N'2025-10-01T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (2, 2, 1, N'PENDING', CAST(N'2025-10-02T14:15:00.0000000' AS DateTime2))
INSERT [dbo].[OrderStatusHistory] ([OrderStatusHistoryId], [OrderId], [ChangedBy], [OrderStatus], [ChangedAt]) VALUES (3, 2, 1, N'APPROVED', CAST(N'2025-10-02T15:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([PaymentMethodId], [Name], [Description]) VALUES (1, N'Cash on Delivery', N'Pay with cash when the order is delivered')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [Name], [Description]) VALUES (1, N'Pending', N'Payment not yet completed')
INSERT [dbo].[PaymentStatus] ([PaymentStatusId], [Name], [Description]) VALUES (2, N'Complete', N'Payment has been successfully completed')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (1, 1, 1, N'Nike Air Max 90', N'Classic visible Air cushioning with a durable upper for everyday comfort.', N'https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/6ee73b1b-6306-4612-a154-bac88930c818/custom-nike-air-max-90-shoes-by-you.png', N'Leather', CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), 1, 0)
INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (2, 2, 1, N'Adidas Ultraboost 22', N'Responsive Boost midsole and Primeknit upper for long-distance runs.', N'https://bizweb.dktcdn.net/thumb/1024x1024/100/347/092/products/gx5915-s1.jpg', N'Knit', CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), 1, 0)
INSERT [dbo].[Product] ([ProductId], [BrandId], [CategoryId], [Name], [Description], [DefaultImageUrl], [Material], [CreatedAt], [UpdatedAt], [IsActive], [IsDeleted]) VALUES (3, 3, 3, N'Puma Suede Classic', N'Iconic low-top silhouette with soft suede and grippy rubber outsole.', N'https://images.puma.com/image/upload/f_auto,q_auto,b_rgb:fafafa,w_2000,h_2000/global/399781/01/sv01/fnd/VNM/fmt/png/Gi%C3%A0y-th%E1%BB%83-thao-Suede-Classic-Unisex', N'Suede', CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), CAST(N'2025-09-26T14:27:24.8633333' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] ON 

INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'40', CAST(150.00 AS Decimal(18, 2)), 120, CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), 0)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'41', CAST(150.00 AS Decimal(18, 2)), 90, CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), 0)
INSERT [dbo].[ProductVariant] ([ProductVariantId], [ProductId], [Image], [Color], [Size], [Price], [QuantityAvailable], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 1, N'https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b5693a6f-00dd-45dc-b918-48f378d99dfb/NIKE+AIR+MAX+90+LTR+%28GS%29.png', N'Black', N'42', CAST(150.00 AS Decimal(18, 2)), 60, CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8700000' AS DateTime2), 0)
GO
SET IDENTITY_INSERT [dbo].[ProductVariant] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (51, 1, 1, 5, N'Amazing Nike Air Max 90! Very comfortable and stylish. Perfect quality, great for daily walking and running. Modern design and very durable.', CAST(N'2025-10-09T14:30:00.0000000' AS DateTime2), CAST(N'2025-10-09T14:30:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (52, 1, 2, 4, N'Good Nike shoes, comfortable fit. Classic design and timeless. Only minor issue is the sizing runs a bit small.', CAST(N'2025-10-08T09:15:00.0000000' AS DateTime2), CAST(N'2025-10-08T09:15:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Review] ([ReviewId], [ProductVariantId], [CustomerId], [Star], [ReviewContent], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (54, 10, 2, 5, N'Excellent Adidas Ultraboost running shoes! Boost technology really works. Very comfortable for long runs and modern style.', CAST(N'2025-10-07T11:20:00.0000000' AS DateTime2), CAST(N'2025-10-07T11:20:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 1, N'admin@shoestore.com', N'$2a$12$AbCdEfGhIjKlMnOpQrStUuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZ', N'Admin', N'+1-202-555-0101', N'https://cdn.shoestore.com/staff/admin.jpg', N'Male', CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), 0)
INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, 0, N'staff1@shoestore.com', N'$2a$12$AbCdEfGhIjKlMnOpQrStUuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZ', N'Staff1', N'+1-202-555-0115', N'https://cdn.shoestore.com/staff/staff1.jpg', N'Female', CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), 0)
INSERT [dbo].[Staff] ([StaffId], [Role], [Email], [PasswordHash], [Name], [PhoneNumber], [Avatar], [Gender], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 0, N'staff2@shoestore.com', N'$2a$12$AbCdEfGhIjKlMnOpQrStUuVwXyZaBcDeFgHiJkLmNoPqRsTuVwXyZ', N'Staff2', N'+1-202-555-0127', N'https://cdn.shoestore.com/staff/staff2.jpg', N'Male', CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), CAST(N'2025-09-26T14:27:24.8900000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
/****** Object:  Index [UQ_VoucherUserUsage_Voucher_Customer]    Script Date: 2025-10-12 12:46:53 AM ******/
ALTER TABLE [dbo].[VoucherUserUsage] ADD  CONSTRAINT [UQ_VoucherUserUsage_Voucher_Customer] UNIQUE NONCLUSTERED 
(
	[VoucherId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsBlock]  DEFAULT ((0)) FOR [IsBlock]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_IsDelete]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_Customer]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [FK_CartItem_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [FK_CartItem_ProductVariant]
GO
ALTER TABLE [dbo].[ImportProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImportProduct_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProduct] CHECK CONSTRAINT [FK_ImportProduct_Staff]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportProductDetail_ImportProduct] FOREIGN KEY([ImportProductId])
REFERENCES [dbo].[ImportProduct] ([ImportProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [FK_ImportProductDetail_ImportProduct]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ImportProductDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [FK_ImportProductDetail_ProductVariant]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentStatus] FOREIGN KEY([PaymentStatusId])
REFERENCES [dbo].[PaymentStatus] ([PaymentStatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductVariant]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Order]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Staff] FOREIGN KEY([ChangedBy])
REFERENCES [dbo].[Staff] ([StaffId])
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Staff]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Product]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Review] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Review] ([ReviewId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Review]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Staff]
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequest_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequest] CHECK CONSTRAINT [FK_ReturnRequest_Customer]
GO
ALTER TABLE [dbo].[ReturnRequest]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequest_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequest] CHECK CONSTRAINT [FK_ReturnRequest_Order]
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequestDetail_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [FK_ReturnRequestDetail_ProductVariant]
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReturnRequestDetail_ReturnRequest] FOREIGN KEY([ReturnRequestId])
REFERENCES [dbo].[ReturnRequest] ([ReturnRequestId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [FK_ReturnRequestDetail_ReturnRequest]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([ProductVariantId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_ProductVariant]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [FK_VerifyCodeCustomer_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [FK_VerifyCodeCustomer_Customer]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [FK_VerifyCodeStaff_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [FK_VerifyCodeStaff_Staff]
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUserUsage_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [FK_VoucherUserUsage_Customer]
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [FK_VoucherUserUsage_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([VoucherId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [FK_VoucherUserUsage_Voucher]
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD  CONSTRAINT [CK__CartItem__Quanti__02084FDA] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[CartItem] CHECK CONSTRAINT [CK__CartItem__Quanti__02084FDA]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ImportProductDetail_CostPrice_NonNeg] CHECK  (([CostPrice]>=(0)))
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [CHK_ImportProductDetail_CostPrice_NonNeg]
GO
ALTER TABLE [dbo].[ImportProductDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ImportProductDetail_Quantity_NonNeg] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[ImportProductDetail] CHECK CONSTRAINT [CHK_ImportProductDetail_Quantity_NonNeg]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([ShippingFee]>=(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK__OrderDeta__Detai__06CD04F7] CHECK  (([DetailQuantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK__OrderDeta__Detai__06CD04F7]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [CK__OrderDeta__Detai__07C12930] CHECK  (([DetailPrice]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [CK__OrderDeta__Detai__07C12930]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD CHECK  (([QuantityAvailable]>=(0)))
GO
ALTER TABLE [dbo].[ReturnRequestDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ReturnRequestDetail_Quantity_NonNeg] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[ReturnRequestDetail] CHECK CONSTRAINT [CHK_ReturnRequestDetail_Quantity_NonNeg]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [CHK_Review_Star_Range] CHECK  (([Star]>=(1) AND [Star]<=(5)))
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [CHK_Review_Star_Range]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeCustomer_FailedNonNeg] CHECK  (([FailedCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [CHK_VerifyCodeCustomer_FailedNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeCustomer]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeCustomer_RequestNonNeg] CHECK  (([RequestCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeCustomer] CHECK CONSTRAINT [CHK_VerifyCodeCustomer_RequestNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeStaff_FailedNonNeg] CHECK  (([FailedCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [CHK_VerifyCodeStaff_FailedNonNeg]
GO
ALTER TABLE [dbo].[VerifyCodeStaff]  WITH CHECK ADD  CONSTRAINT [CHK_VerifyCodeStaff_RequestNonNeg] CHECK  (([RequestCount]>=(0)))
GO
ALTER TABLE [dbo].[VerifyCodeStaff] CHECK CONSTRAINT [CHK_VerifyCodeStaff_RequestNonNeg]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([MaxValue]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([MinValue]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([TotalUsageLimit]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([UserUsageLimit]>=(0)))
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD CHECK  (([Value]>=(0)))
GO
ALTER TABLE [dbo].[VoucherUserUsage]  WITH CHECK ADD  CONSTRAINT [CHK_VoucherUserUsage_Count_NonNeg] CHECK  (([UsageCount]>=(0)))
GO
ALTER TABLE [dbo].[VoucherUserUsage] CHECK CONSTRAINT [CHK_VoucherUserUsage_Count_NonNeg]
GO
USE [master]
GO
